<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.provider.mapper.TestMapper">

    <resultMap id="BaseResultMap" type="com.provider.domain.DemoUser">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="gender" jdbcType="SMALLINT" property="gender" />
    </resultMap>

    <select id="readDemo" parameterType="String" resultMap="BaseResultMap">
        select * from demo_user where name like '%${tap}%'
    </select>
</mapper>